#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: sans-serif;
  background-color: darkgrey;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 16px;
  
}

h1 {
  text-align: center;
  color: #343a40;
  margin-bottom: 2rem;
}

input[type='text'],
input[type='number'] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #e9ecef;
  color: #495057;
}

tr:hover {
  background-color: #f1f3f5;
}
